<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
<h1 th:text="Продукты"></h1>
<table border="1" style="width: 300px">
    <thead>
    <tr>
        <th align="center">Id</th>
        <th align="center">title</th>
        <th align="center">price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}" align="center"/>
        <td th:text="${product.title}" align="center"/>
        <td th:text="${product.price}" align="center"/>
        <!--        <td><a th:href="@{/products/edit/{id}(id=${product.id})}">Изменить</a></td>-->
        <td>
            <form th:action="@{/products/edit/{id}(id=${product.id})}" th:method="get">
                <input type="hidden" name="id" th:value="${product.id}"/>
                <button type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/products/delete}" th:method="delete">
                <input type="hidden" name="id" th:value="${product.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/products/add}" th:method="get">
    <button type="submit">Создать продукт</button>
</form>
</body>
</html>